.custom-button {
  // min-width: 165px;
  // width: auto;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #000;
  padding: 0 35px;
  color: #fff;
  text-transform: uppercase;
  // font-family: 'Open Sans Condensed';
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 20px;

  &:hover {
    background-color: #2f2f2f;
    // color: #000;
    // border: 1px solid #000;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: #fff;

    &:hover {
      background-color: #3578e8;
      border: none;
    }
  }

  &.inverted {
    background-color: #fff;
    color: #000;
    border: none;

    &:hover {
      background-color: #000;
      color: #fff;
      border: 1px solid #000;
    }
  }
}
