.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 325px;
  align-items: center;
  position: relative;
  padding: 15px;

  .image {
    width: 75%;
    height: 80%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 185px;
    display: none;
  }

  &:hover {
    background-color: rgb(245, 245, 245);

    .image {
      opacity: 0.8;
    }

    .custom-button {
      display: flex;
      opacity: 0.85;
    }
  }

  .collection-footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;

    .name {
      width: 80vw;
      margin-bottom: 15px;
    }

    .price {
      width: 12vw;
    }
  }
}
