.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  top: 90px;
  right: 40px;
  z-index: 5;
  background-color: #fff;
  border: 1px solid #000;

  .empty-message {
    color: #808080;
    text-align: center;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
