.checkout-item {
  width: 100%;
  min-height: 100px;
  display: flex;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 17px;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  .image-container {
    width: 25%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .product {
    width: 25%;
  }

  .remove-button {
    display: block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #fff;
    border-color: #e9e9e9;
    font-size: 12px;
    margin-top: 5px;

    .remove-icon {
      color: red;
    }
  }

  .quantity,
  .price {
    width: 25%;
  }

  .total {
    min-width: 10%;
  }

  .quantity {
    display: flex;
    user-select: none;

    .left-arrow,
    .right-arrow {
      cursor: pointer;
    }

    .last-item {
      color: grey;
      cursor: default;
    }

    .value {
      margin: 0 12px;
      min-width: 5%;
    }
  }
}
